<style>
      .external {
        display: table;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        align: center;
      }
      .middle {
        display: table-cell;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    </style>
<html>
<head>
    <title>Close me</title>
</head>
<body>
    <div class="external">
      <div class="middle">
           <h3>You can now close this Browser tab and go back to your CLI.</h3>
      </div>
    </div>
</body>
</html>

